@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <p>This is the first tme working with ASP.NET</p>
</div>

<div class="text-center">
    <img src="/img/cat.avif" alt="Cat">
</div>

<main class="justify-center">
    <article>
        <h2 class="display-4">Blokje code</h2>
        <p>Dit is een blokje code:</p>
    </article>
</main>